[Unit]
Description=SCUF Envision Pro Virtual Controller Bridge
After=multi-user.target

# Important! Update /file/path/to/scuf_virtual_pad.py to the correct file path
[Service]
Type=simple
ExecStart=/usr/bin/python3 /file/path/to/scuf_virtual_pad.py
Restart=always
RestartSec=5
User=root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
